{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Accounts{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-white">League of Legends Accounts</h1>

    <div class="row fluid mt-3">
        {% for cuenta in cuentas_rankeadas %}
        <div class="col-md-3 mb-3">
            <div class="card">
                {% if cuenta.image %}
                    <img src="{{ cuenta.image.url }}" alt="{{ cuenta.name }}" class="card-img-top">
                {% else %}
                    <img src="{% static 'shop/img/default.jpg' %}" alt="{{ cuenta.name }}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ cuenta.name }}</h5>
                    {% if cuenta.available %}
                        <span class="badge rounded-pill text-bg-success">Available</span>
                    {% else %}
                        <span class="badge rounded-pill text-bg-danger">Not Available</span>
                    {% endif %}
                    <p class="card-text">{{ cuenta.description }}</p>
                    <button type="button" class="btn btn-primary mb-2">${{ cuenta.price }}</button>
                    <form action="{% url 'add_to_cart' cuenta.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success" data-bs-target="#cartConfirmationModal">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
