{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="my-4 text-center text-white">Shopping Cart</h1>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-dark">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>{{ item.account.name }}</td>
                            <td>${{ item.account.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.subtotal }}</td>
                            <td>
                                <!-- Formulario para remover el artículo del carrito -->
                                <form action="{% url 'remove_from_cart' item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">Your cart is empty</td>
                        </tr>
                        {% endfor %}
                        <tr class="font-weight-bold">
                            <td colspan="3" class="text-end">Total:</td>
                            <td colspan="2">${{ total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
